@model AddressBookApp.Models.Address

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Address</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.person)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.person.PersonID)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.AddressID">Edit</a> |
    <a asp-controller="People" asp-action="Index">Back to List</a>
</div>
